@import url(header.css);

body {
    background-color: whitesmoke;
}

.container{
    display: grid;
    grid-template-rows: 315px 10px 1fr 300px;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "header"
      "navbar"
      "content"
      "footer";
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    padding: 25px;
    margin: auto;
}

.content_title {
    grid-area: content;
    background-color:#D5CABD;
    border-radius: 50px;
    text-align: center;
    font-family: 'Quicksand', 'Open Sans', 'Montserrat', sans-serif;
    padding: 10px;
    line-height: 1.8;
    letter-spacing: 0.6px;
    font-weight: 300;
    color: #4B4453;
}

h2, h3{
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
}  

h3 {
    font-size: 12px;
}

.content{
    grid-area: content;
    background-color:#D5CABD;
    border-radius: 50px;
    text-align: center;
    font-family: 'Quicksand', 'Open Sans', 'Montserrat', sans-serif;
    padding: 30px;
    line-height: 1.8;
    letter-spacing: 0.6px;
    font-weight: 300;
    color: #4B4453;
    float: left;
}

#fig {
    max-width: 75%;
}

#nurse {
    max-width: 50%;
    margin-right: 25px;
    float: left;
}

#caption {
    text-align: center;
    line-height: 1;
    letter-spacing: 0;
    font-size: 12px;
    margin-top: 5px;
    float: left;
    max-width: 50%;
    margin-bottom: 5px;
}    

.footer{
    grid-area: footer;
    background-color:#368098;
    border-radius: 50px;
  }

#avatar {
  max-height: 100px;
  max-width: 100px;
  margin-top: 25px;
  margin-left: 25px;
  border-radius: 25px;
  border:#4B4453 1px solid;
  float: left;
}

#contactinfo {
  margin-top: 50px;
  margin-bottom: auto;
  float: left;
  padding-left: 10px;
  color: whitesmoke;
  font-family: 'Quicksand', 'Open Sans', 'Montserrat', sans-serif;
  font-size: 16px;
}

h3 {
    text-align: center;
    padding-top: 20px;
    color: whitesmoke;
    font-family: 'Quicksand', 'Open Sans', 'Montserrat', sans-serif;
    font-size: 14px;
}

.socialmedia {
    text-align: center;
}


#top {
  display: flex;
  padding: 15px;
  border: #4B4453 1px solid;
  border-radius: 25px;
  margin: 30px;
  max-width: 100px;
  justify-content: center;
  float: right;
  background-color: whitesmoke;
  font-family: 'Quicksand', 'Open Sans', 'Montserrat', sans-serif;
  color: #4B4453;
}

@media (min-width: 750px){
  .container{  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "header header header header"
  "content content content content"
  "footer footer footer footer";
 }
}