.sidebar{
    grid-area: sidebar;
    background-color: whitesmoke;
    color: #4B4453;
    text-align: center;
    font-family: 'Quicksand', 'Open Sans', 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    border: #4B4453 1px dotted;
    border-radius: 50px;
    margin-top: 100px;
}

#facepic{
    height: auto;
    max-width: 215px;
    border-radius: 300px;
    display: block;
    margin: 0px auto;
    margin-top: -90px;
}

#bio {
    line-height: 1.8;
    letter-spacing: 0.6px;
    margin-left: 14px;
    margin-right: 14px;
    border-bottom: #B0A8B9 1px solid;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}

#insta {
    padding-top: 3px;
}

#sub {
    margin: 14px;
    border-top: #B0A8B9 1px solid;

}

.form {
    font-family: 'Quicksand', 'Open Sans', 'Montserrat', sans-serif;
}

#email {
    margin: 10px;
}
